@model IEnumerable<BlogApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Kategori Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Kategori Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>
<hr />
@if (TempData["Kategori"] != null)
{
    var kategori = (BlogApp.Models.Category)TempData["Kategori"];

    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <b> @kategori.KategoriAdi</b> Kayıt Edildi.
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
